version: '3.8'

services:
  edge_app:
    # 從 Ansible 變數中取得 Registry 地址
    image: "{{ REGISTRY_HOST_PORT }}/pc-hello-world:latest"
    # 使用裝置 ID 確保容器名稱唯一
    container_name: "pc-hello-world-{{ DEVICE_ID | lower }}"
    ports:
      - "{{ DEPLOY_PORT }}:8080"

    env_file:
      - .env
    environment:
      DEVICE_ID: "{{ DEVICE_ID }}"
      LOG_LEVEL: "{{ LOG_LEVEL }}"

    restart: always